.social-icons {
    text-align: center;
    margin: 10%;
}

.social-icons a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent */
}


.fa-brands , .fa-solid{
    margin: 10%;
}
