body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background-color: #f0f0f0; /* Adjust as needed */
    padding: 10px;
    text-align: center;
    z-index: 100; /* Ensure the header is above the sections */
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Set the height explicitly */
    padding: 0;
    box-sizing: border-box;
}

section:nth-of-type(even) {
    color: white;
    background: #dfdfdf;
}

section:nth-of-type(odd) {
    color: black;
    background: white;
}

.section-content {
    width: 80%;
    max-width: 800px;
    text-align: center;
}


.page-heading-projects {
    font-size: 28px;
    color: orange;
    text-align: center;
    margin-bottom: 20px;
}

.project-brief {
    width: 90%; 
    max-width: 800px; 
}


.github-button-container {
    text-align: center;
    margin-top: 20px;
}

.github-button {
    background-color: #24292e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.github-button:hover {
    background-color: #3a3d42;
}

.scroll-indicator-project {
    bottom: 50%; 
    right: 50%; 
    transform: translate(50%, 50%); 
    z-index: 1000; 
}

.scroll-project {
    width: 5vw; 
    height: 5vw; 
    max-width: 40px;
    max-height: 40px; 
    border: 2px solid #d1cece;
    border-radius: 50%;
    animation: down 1.5s infinite;
    -webkit-animation: down 5.5s infinite;
}

.scroll-project::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #d1cece;
    border-bottom: 2px solid #d1cece;
    transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}
